.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
    width: 150px;
}

.infoButton {
    border-radius: 15px;
    background-color: #0cc;
    width: auto;
}

.diceButton {
    border-radius: 1px;
    background-color: #636;
}

#toolbar {
    position: fixed;
    width: 100%;
    height: 32px;
    line-height: 32px;
    top: 0;
    left: 0;
    padding: 2px; /* some styling, please note overall height of the object will be 35px due to 5px padding on top/bottom. */
    background: #fff; /* some styling */
    border-bottom: 1px solid #333; /* some styling */
}

.point {
    text-align: center;
}

#plane_div {
    text-align: center;
    padding: 35px;
    margin: 35 auto;
}
#phenomenon, #merging, #chaos {
    text-align: center;
    padding: 25px;
    margin: 35 auto;
}

#phenomenon img:hover, #merging img:hover, #chaos img:hover {
    transform: scale(1.5);
    transition-delay: 1.5s;
    transition-timing-function: ease-in-out;
}

.inactive img:hover {
    transform: scale(2.2);
    transition-delay: 1.5s;
    transition-timing-function: ease-in-out;
}

.current {
    border: 3px solid blue;
}

.current img.hover {
    transform: scale(1.5);
    transition-delay: 1.5s;
    transition-timing-function: ease-in-out;
}

.counter {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

#help {
    font-size: small;
    float: right;
    padding: 0 25px;
}
